# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Dependency directories (remove the comment below to include it)
# vendor/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
